[color]
   ui = auto
[merge]
   tool = extMerge
[mergetool "extMerge"]
   cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
   trustExitCode = false
[diff]
   tool = meld
[alias]
   tree = log --graph --all --decorate --oneline
   rmc = rm --cached
   c = commit -S -m
   ca = commit -S -am
   s = status
[core]
   editor = vim
[format]
   pretty ="%C(yellow)%ar%Creset %C(white bold)%h%Creset %C(bold)%s%Creset %C(yellow bold)%an%Creset"
[push]
   default = upstream
[log]
   date = relative
[color "diff"]
   new = white green bold
   old = white red bold
